server:
  port: 9000

battcn:
  security:
    token:
      expiration-time: 10 # 分钟 1440
      refresh-exp-time: 30 # 分钟 2880
      issuer: http://blog.battcn.com
      signing-key: battcn

logging:
  level:
    com.netflix: DEBUG
    com.battcn: DEBUG

spring:
  application:
    name: battcn-gateway-service
  cloud:
    consul:
      host: localhost
      port: 8500
      enabled: true
      discovery:
        enabled: true
        prefer-ip-address: true



